.DiaryItem{
    display: flex;
    align-items: center;
    margin-bottom: 12px; 
    gap: 15px;
    border-bottom: 1px solid #eee;
}

.img-section{
    min-width: 120px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.img-section img{
    width: 50%;
}

.img-section.bg-1 {
    background-color: #F5D96C;
}

.img-section.bg-2 {
    background-color: #BCE5D3;
}

.img-section.bg-3 {
    background-color: #F2CD99;
}

.img-section.bg-4 {
    background-color: #F6976C;
}

.img-section.bg-5 {
    background-color: #F7BEAB;
}

.info-section{
    flex: 1;
}

.info-section .content{
    font-size: 18px;
}

.info-section .created-date{
    font-size: 25px;
    font-weight: bold;
}