.EmotionItem{
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.EmotionItem img{
    width: 80%;
}

.EmotionItem.item_on_1{
     color: white;
    background-color: #F5D96C;
}
.EmotionItem.item_on_2{
    color: white;
    background-color: #BCE5D3;
}
.EmotionItem.item_on_3{
    color: white;
    background-color: #F2CD99;
}

.EmotionItem.item_on_4{
    color: white;
    background-color: #F6976C;
}
.EmotionItem.item_on_5{
  color: white;
    background-color: #F7BEAB;
}