.Viewer > section{
    text-align: center;
    margin-bottom: 50px;
}


.Viewer > section h4{
    font-size: 22px;
    padding:  10px 0;
}

.emotion-img-wrapper{
    width: 250px;
    height: 250px;
    margin: auto;
    align-content: center;
    color: #fff;
    border-radius: 10px;
    font-size: 25px;
}

.emotion-img-wrapper.img-1 {
    background-color: #F5D96C;
}

.emotion-img-wrapper.img-2 {
    background-color: #BCE5D3;
}

.emotion-img-wrapper.img-3 {
    background-color: #F2CD99;
}

.emotion-img-wrapper.img-4 {
    background-color: #F6976C;
}

.emotion-img-wrapper.img-5 {
    background-color: #F7BEAB;
}

.content-section{
    padding: 20px;
}

.content-wrapper{
    background-color: #fafafa;
    padding: 20px;
    font-size: 20px;
    min-height: 100px;
    text-align: left;
}